<h1><%= @facade.member_count%> members</h1>

<%@facade.members.each do |member| %>
  <div class="house-member">
    <p class="house-member-name"><%=member.name%></p>
    <p class="house-member-id">ID: <%=member.id%></p>
  </div>
<% end %>
